{% extends '../base.html' %}

{% block content %}
    {% load crispy_forms_tags %}

    <div class="container">
        <h1 class="text-center mt-3">
            {% if form.instance.pk %}Edit{% else %}Create{% endif %} Task
        </h1>

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <form method="post" class="card p-4">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary" style="background-color: #50da81">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
